body.dark {
  --bg: rgb(1, 4, 11);
  --textColor: rgba(255, 255, 255, 0.96);
  --textColorSecondary: rgba(255, 255, 255, 0.65);
  --textColorTertiary: rgba(255, 255, 255, 0.45);
  --textActive: rgb(234, 205, 93);
  --borderColor: #353535;
  --accentColor: #f6d62b;
  --accentColorBg: var(--accentColor);
  --scrollTrack: #111;
  --scrollThumbColor: #3e3e3e;
  --scrollThumbHoverColor: #555;
  --primaryBtnBg: rgb(69, 69, 146);
  --primaryBtnTextColor: var(--textColor);
  --secondaryBtnBg: rgb(23, 24, 24);
  --secondaryBtnTextColor: var(--textColorSecondary);
  --messageBoxInfoBg: black;
  --messageBoxInfoColor: var(--textColorSecondary);
}

body.light {
  --bg: white;
  --textColor: rgba(0, 0, 0, 0.96);
  --textColorSecondary: rgba(0, 0, 0, 0.6);
  --textColorTertiary: rgba(0, 0, 0, 0.4);
  --textActive: rgb(234, 205, 93);
  --borderColor: #353535;
  --accentColor: #7a7ae2;
  --accentColorBg: #fff7a2;
  --accentColorBolt: #000;
  --scrollTrack: #ebebeb;
  --scrollThumbColor: #b7b7b7;
  --scrollThumbHoverColor: #a4a4a4;
  --primaryBtnBg: rgb(104 104 222);
  --primaryTextColor: white;
  --secondaryBtnBg: rgb(227 231 238);
  --secondaryBtnTextColor: var(--textColor);
  --messageBoxInfoBg: black;
  --messageBoxInfoColor: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--scrollTrack);
}
::-webkit-scrollbar-corner {
  background: var(--scrollTrack);
}
*::-webkit-scrollbar-thumb {
  background: var(--scrollThumbColor);
  border: 2px solid var(--scrollTrack);
  border-radius: 12px;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollThumbHoverColor);
}
* {
  scrollbar-color: var(--scrollThumbColor) var(--scrollTrack);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  color: var(--textColor);
  background-color: var(--bg);
}

html,
body,
#root {
  min-height: 100%;
}

svg,
img {
  display: block;
}

.h-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.v-flex {
  display: flex;
  flex-direction: column;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-1by2 {
  padding: 1rem 2rem;
}
