:root {
  --bg: rgb(1, 4, 11);
  --textColor: rgba(255, 255, 255, 0.96);
  --textColorSecondary: rgba(255, 255, 255, 0.65);
  --textColorTertiary: rgba(255, 255, 255, 0.45);
  --borderColor: #353535;
  --logoColor: #feea00;
  --scrollTrackColor: #111;
  --scrollThumbColor: #3e3e3e;
  --scrollThumbHoverColor: #555;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--scrollTrackColor);
}
::-webkit-scrollbar-corner {
  background: var(--scrollTrackColor);
}
*::-webkit-scrollbar-thumb {
  background: var(--scrollThumbColor);
  border: 2px solid var(--scrollTrackColor);
  border-radius: 12px;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollThumbHoverColor);
}
* {
  scrollbar-color: var(--scrollThumbColor) var(--scrollTrackColor);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  color: var(--textColor);
  background-color: var(--bg);
}

html,
body,
#root {
  min-height: 100%;
}

.h-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.v-flex {
  display: flex;
  flex-direction: column;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-1by2 {
  padding: 1rem 2rem;
}
