.select {
  padding: 0.5em 0.75em;
  font-family: inherit;
  font-size: 0.875em;
  color: inherit;
  border: none;
  border-radius: 4px;
  background: var(--inputBg);
  color: var(--textColor);
  max-width: 100%;

  &:focus {
    outline: 1px solid var(--outlineColor);
  }
}
