.layout {
  flex: 1;
  display: grid;
  grid-template-columns: 240px 1fr;
}

.sidebar {
  position: sticky;
  top: 0;
  padding: 2rem;
  overflow: auto;
  max-height: 100vh;

  .docSection {
    margin: 0 0 2em;
    padding: 0;
    list-style: none;
  }
  .sectionTitle {
    font-size: 1.25rem;
    color: var(--textColorTertiary);
    margin-bottom: 1em;
  }
  .sectionItem {
    display: flex;
    gap: 0.375em;
    margin-bottom: 0.5em;
    color: var(--textColorSecondary);
    text-decoration: none;

    &:hover {
      color: var(--textColor);
    }
  }
  .sectionItemActive {
    color: var(--textColor);
  }
}

.docContent {
  min-width: 0; /* important for overflow scrollbars to work */
  padding: 2rem;
}

.toTopBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--textColorSecondary);
  border-radius: 4px;
  border: 1px solid var(--textColorSecondary);
  padding: 4px;
  width: 24px;
  height: 24px;

  &:hover {
    color: var(--textColor);
    border-color: var(--textColor);
  }
}
