.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fullscreenContainer {
  position: fixed;
  z-index: var(--ifm-z-index-fixed);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--ifm-background-color);
  padding: 1rem;
}

.demoActions {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-top: 12px;
}

.iframeWrapper {
  height: 100%;
  position: relative;
}

.iframe {
  width: 100%;
  max-height: calc(100% - 30px - 12px);
}

.iframeLoader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ifm-background-color);
  border: 1px solid var(--borderColor);
  border-radius: 4px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  appearance: none;
  background: transparent;
  border-radius: 4px;
  border: none;
  padding: 0.5em;
  font-family: inherit;
  font-size: 0.75em;
  color: var(--secondaryBtnTextColor);

  &:not(:disabled):hover {
    cursor: pointer;
    color: var(--ifm-link-hover-color);
    text-decoration: underline;
  }

  &:disabled {
    background-color: var(--secondaryBtnBg);
  }
}

.btnSvg {
  flex-shrink: 0;
  height: 16px;
}
