.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fullscreenContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--bg);
  padding: 1rem;
}

.code {
  overflow: auto;
}

.demoActions {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-top: 12px;
}

.switchView {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  height: 30px;
}

.switchBtn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  appearance: none;
  background: transparent;
  border-radius: 4px;
  border: none;
  padding: 0.5em;
  font-family: inherit;
  font-size: 0.75em;
  color: var(--secondaryBtnTextColor);

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--secondaryBtnBg);
  }

  svg {
    flex-shrink: 0;
    height: 16px;
  }
}

.mainView {
  max-height: calc(100% - 30px - 12px);
}
