.h1 {
  font-weight: 500;

  &:first-child {
    margin-top: 0;
  }
}
.h2 {
  font-weight: 500;
}
.p {
  line-height: 1.5em;
}
.a {
  color: var(--textColor);
  text-decoration: underline;
}
.eicon {
  flex-shrink: 0;
  display: inline-block;
  color: var(--logoColor);
  width: 16px;
  height: 16px;
  border: 1px solid var(--logoColor);
  border-radius: 50%;
  font-size: 10px;
  line-height: 15px;
  text-decoration: none;
  vertical-align: super;
  text-align: center;
}
