.iconBtn {
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  padding: 4px;
  border-radius: 4px;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus {
    outline: 1px solid var(--focusColor);
  }

  svg {
    height: 14px;
  }
}
