.iconBtn {
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  padding: 0;
  width: 16px;
  height: 16px;
  padding: 2px;

  &:not(:disabled) {
    cursor: pointer;
  }
}
