.container {
}

.tabHeader {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.tabButton {
  appearance: none;
  border-radius: 0.5em;
  border: none;
  padding: 0.5em 1em;
  font-family: inherit;
  font-size: 0.75em;
  background-color: var(--secondaryBtnBg);
  color: var(--secondaryBtnTextColor);

  &:not(:disabled):hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--secondaryBtnBg) 95%, white);
  }
  &[data-active='true']:not(:disabled):hover {
    background-color: color-mix(in srgb, var(--primaryBtnBg) 95%, white);
  }

  &[data-active='true'] {
    background: var(--primaryBtnBg);
    color: var(--primaryTextColor);
  }
}

.tabContent {
}
