.lfg-cell {
  position: absolute;
  height: 100%;
  contain: strict;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: var(--lf-grid-direction);
  background: var(--lf-grid-cell-bg, var(--lf-grid-bg));

  &[data-pinned-x='true'],
  &[data-pinned-y='true'] {
    background: var(--lf-grid-pinned-cell-bg, var(--lf-grid-cell-bg, var(--lf-grid-bg)));
  }

  &[data-selected='true'] {
    background: var(--lf-grid-cell-selected-bg);
  }

  &[data-selection-start='true'] {
    background: var(--lf-grid-cell-start-cell-bg);
  }

  &__details-btn {
    margin: 0 2px 0 8px;
  }
}
