.lfg-grid-area {
  position: absolute;
  inset: 0;
  pointer-events: none;

  &__inner {
    pointer-events: auto;
    outline: 1px solid var(--lf-grid-border-color);
  }
}

.lfg-grid-row {
  position: absolute;
  width: 100%;
  // z-index: 1;
}
