/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2428dc;
  --ifm-color-primary-dark: #1d20ca;
  --ifm-color-primary-darker: #0e11b5;
  --ifm-color-primary-darkest: #090ba2;
  --ifm-color-primary-light: #2c2fde;
  --ifm-color-primary-lighter: #3437e2;
  --ifm-color-primary-lightest: #3d40f0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-background-color: white;
  --ifm-background-color: white;
  --ifm-toc-border-color: white;
  --ifm-navbar-shadow: none;

  --bg: white;
  --textColor: rgba(0, 0, 0, 0.96);
  --textColorSecondary: rgba(0, 0, 0, 0.6);
  --textColorTertiary: rgba(0, 0, 0, 0.4);
  --textActive: rgb(234, 205, 93);
  --borderColor: #353535;
  --focusColor: #038cf4;
  --brandColor: black;
  --enterpriseColor: #ff2727;
  --scrollTrack: #ebebeb;
  --scrollThumbColor: #c2c2c5;
  --scrollThumbHoverColor: #a4a4a4;
  --primaryBtnBg: rgb(104 104 222);
  --primaryTextColor: white;
  --secondaryBtnBg: rgb(227 231 238);
  --secondaryBtnTextColor: var(--textColor);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
:root[data-theme='dark'] {
  --ifm-color-primary: #f6d62b;
  --ifm-color-primary-dark: #d4b924;
  --ifm-color-primary-darker: #a8910e;
  --ifm-color-primary-darkest: #796809;
  --ifm-color-primary-light: #fde03b;
  --ifm-color-primary-lighter: #fbe35f;
  --ifm-color-primary-lightest: #ffee8f;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-navbar-background-color: #111315;
  --ifm-background-color: #111315;
  --ifm-toc-border-color: #111315;

  --bg: rgb(1, 4, 11);
  --textColor: rgba(255, 255, 255, 0.96);
  --textColorSecondary: rgba(255, 255, 255, 0.65);
  --textColorTertiary: rgba(255, 255, 255, 0.45);
  --textActive: rgb(234, 205, 93);
  --borderColor: #353535;
  --focusColor: #038cf4;
  --brandColor: #f6d62b;
  --enterpriseColor: #f53333;
  --scrollTrack: #111;
  --scrollThumbColor: #3e3e3e;
  --scrollThumbHoverColor: #555;
  --primaryBtnBg: rgb(69, 69, 146);
  --primaryBtnTextColor: var(--textColor);
  --secondaryBtnBg: rgb(23, 24, 24);
  --secondaryBtnTextColor: var(--textColorSecondary);
}

.footer {
  --ifm-footer-padding-vertical: 1em;
  --ifm-footer-color: rgba(0 0 0 / 0.3);
  font-size: 12px;
}

.footer--dark {
  --ifm-footer-background-color: #111315;
  --ifm-footer-color: rgba(255 255 255 / 0.3);
}
