.input {
  padding: 0.5em 0.75em;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  border-radius: 4px;
  background: var(--inputBg);
  color: var(--textColor);

  &:focus {
    outline: 1px solid var(--outlineColor);
  }
}
