.input {
  flex: 1;
  padding: 0.5em 0.75em;
  font-family: inherit;
  font-size: 0.875em;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--inputBg);
  color: var(--textColor);
  max-width: 100%;

  &:focus {
    outline: none;
    border-color: var(--outlineColor);
  }
}
