body.dark {
  --bg: black;
  --textColor: rgba(255, 255, 255, 0.96);
  --textColorSecondary: rgba(255, 255, 255, 0.65);
  --textColorTertiary: rgba(255, 255, 255, 0.45);
  --linkColor: #6284ff;
  --inputBg: #232323;
  --outlineColor: #6161c0;
  --primaryBtnBg: rgb(69, 69, 146);
  --primaryBtnTextColor: var(--textColor);
  --secondaryBtnBg: rgb(23, 24, 24);
  --secondaryBtnTextColor: var(--textColorSecondary);
  --iconBtnHoverBg: rgb(112 121 145 / 30%);
}

body.light {
  --bg: white;
  --textColor: rgba(0, 0, 0, 0.96);
  --textColorSecondary: rgba(0, 0, 0, 0.6);
  --textColorTertiary: rgba(0, 0, 0, 0.4);
  --linkColor: rgb(35, 137, 247);
  --inputBg: #f2f2f2;
  --outlineColor: #6161c0;
  --primaryBtnBg: rgb(104 104 222);
  --primaryBtnTextColor: white;
  --secondaryBtnBg: rgb(227 231 238);
  --secondaryBtnTextColor: var(--textColor);
  --iconBtnHoverBg: rgb(112 121 145 / 30%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
}

#root {
  height: 100%;
}
body .range-slider {
  height: 4px;
}
body .range-slider .range-slider__range {
  background: var(--primaryBtnBg);
}
body .range-slider .range-slider__thumb {
  width: 14px;
  height: 14px;
  background: var(--primaryBtnBg);
}
