.lg-cell {
  position: absolute;
  height: 100%;
  contain: strict;
  display: flex;
  align-items: center;
  background: var(--lgCellOddBg, var(--lgBg));

  &[data-pinned-x='true'],
  &[data-pinned-y='true'] {
    background: var(--lg-pinned-cell-bg, var(--lgCellOddBg, var(--lgBg)));
  }

  .lg-row-even & {
    background: var(--lgCellEvenBg, var(--lgCellOddBg, var(--lgBg)));
  }

  &[data-selected='true'] {
    background: var(--lgCellSelectedBg);
  }

  &[data-selection-start='true'] {
    background: var(--lgCellStartCellBg);
  }

  &[data-reordering='true'] * {
    pointer-events: none;
  }

  &[data-moving-col='true'] {
    background: var(--lgColReorderBgColor);
  }

  &-details-btn {
    margin: 0 2px 0 8px;
  }
}

.lg-default-cell {
  align-items: center;
  padding: 0 var(--lgCellHPadding);
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
