.lfg-cell {
  position: absolute;
  height: 100%;
  contain: strict;
  display: flex;
  align-items: center;
  direction: var(--lfgDirection);
  background: var(--lfgCellBg, var(--lfgBg));

  &[data-pinned-x='true'],
  &[data-pinned-y='true'] {
    background: var(--lfg-pinned-cell-bg, var(--lfgCellBg, var(--lfgBg)));
  }

  .lfg-row:nth-child(even) & {
    background: var(--lfgEvenRowCellBg, var(--lfgCellBg, var(--lfgBg)));
  }

  &[data-selected='true'] {
    background: var(--lfgCellSelectedBg);
  }

  &[data-selection-start='true'] {
    background: var(--lfgCellStartCellBg);
  }

  &[data-reordering='true'] * {
    pointer-events: none;
  }

  &[data-moving-col='true'] {
    background: var(--lfgColReorderBgColor);
  }

  &-details-btn {
    margin: 0 2px 0 8px;
  }
}

.lfg-default-cell {
  align-items: center;
  padding: 0 var(--lfgCellHPadding);
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
