.lfg {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex: 1;
  border-radius: 10px;
  border: 1px solid var(--lfg-border-color);
  overflow: hidden;
  color: var(--lfg-text-color);

  // Used in getScrollbarSize else on touch devices it will
  // come back as 0 since they are overlays by default. But
  // as soon as we style the scrollbar to not look terrible
  // it unfortunately means the scrollbar will always be visible
  // and never a nice overlay on phones/laptops.
  &-scroll {
    scrollbar-color: var(--lfg-scroll-thumb) var(--lfg-scroll-track);

    // Size
    &::-webkit-scrollbar {
      width: 14px;
      height: 14px;
    }

    // Track
    &::-webkit-scrollbar-track {
      background: var(--lfg-scroll-track);
    }
    &::-webkit-scrollbar-corner {
      background: var(--lfg-scroll-track);
    }

    // Handle
    &::-webkit-scrollbar-thumb {
      background: var(--lfg-scroll-thumb);
      border-radius: 8px;
      border: 3px solid var(--lfg-scroll-track);
    }

    // Handle on hover
    &::-webkit-scrollbar-thumb:hover {
      background: var(--lfg-scroll-thumb-hover);
    }
  }

  &-canvas {
    position: relative;
    overflow: auto;
    height: 100%;
    contain: strict;
  }

  &-grid-sizer {
    position: absolute;
    top: 0;
    left: 0;
  }

  &-viewport {
    position: sticky;
    top: 0;
    left: 0;
    contain: strict;
    overflow: hidden;
    user-select: none;
  }

  &-view {
    position: absolute;
    top: 0;
    left: 0;
  }

  &-area {
    position: absolute;
    inset: 0;
    pointer-events: none;

    &-inner {
      pointer-events: auto;
      outline: 1px solid var(--lfg-border-color);
    }
  }

  &-column-header {
    contain: strict;
    position: absolute;
    display: flex;
    align-items: flex-end;
    background: var(--lfg-header-cell-bg, var(--lfg-cell-bg, var(--lfg-bg)));
    padding: 6px 12px;
    direction: var(--lfg-direction);
    outline: 1px solid var(--lfg-header-border-color, var(--lfg-border-color));
    color: var(--lfg-header-text-color);
  }

  &-header-area {
    position: absolute;
    inset: 0;
    pointer-events: none;

    &-inner {
      position: sticky;
      top: 0;
      z-index: 1;
      pointer-events: auto;
    }
  }

  &-detail-row {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;

    &-inner {
      position: sticky;
      left: 0;
      width: 100%;
      height: 100%;
      outline: 1px solid var(--lfg-border-color);
      background: var(--lfg-cell-bg, var(--lfg-bg));
    }
  }

  &-row {
    position: absolute;
    width: 100%;
    // z-index: 1;
  }
}
