.lg-header {
  &-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;

    &-inner {
      position: sticky;
      top: 0;
      z-index: 1;
      pointer-events: auto;
    }
  }

  &-cell {
    position: absolute;
    display: flex;
    align-items: center;
    background: var(--lgHeaderCellBg, var(--lgCellBg, var(--lgBg)));
    padding: 6px var(--lgCellHPadding);
    direction: var(--lgDirection);
    color: var(--lgHeaderTextColor);

    &[role='button'] {
      cursor: pointer;
    }

    &[data-reordering='true'] * {
      pointer-events: none;
    }

    &[data-moving-col='true'] {
      background: var(--lgColReorderHeaderBgColor, var(--lgColReorderBgColor));
    }

    border-bottom: 1px solid var(--lgHeaderBorderColor, var(--lgBorderColor));
    &::before,
    &:not([data-last-in-row='true'])::after {
      content: '';
      display: flex;
      width: 1px;
      position: absolute;
      height: calc(100% - (10% + 16px));
      background: var(
        --lgHeaderInnerBorderColor,
        var(--lgHeaderBorderColor, var(--lgBorderColor))
      );
    }
    &::before {
      left: -1px;
    }
    &::after {
      right: -1px;
    }
  }
  &-cell-inner {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    overflow: hidden;
  }
  &-cell-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-sort-indicator {
    flex-shrink: 0;
    pointer-events: none;
    width: 12px;
    height: 12px;
    color: var(--lgHeaderTextColor);
  }

  &-grip-resizer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 6px;
    cursor: col-resize;
  }

  &-filters {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--lgBg);
    border-bottom: 1px solid var(--lgHeaderBorderColor, var(--lgBorderColor));

    &-v-borders {
      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        background: var(--lgBorderColor);
      }
    }

    &-v-borders::before {
      width: 1px;
      top: 0px;
      bottom: -1px;
      left: -1px;
    }

    &-v-borders::after {
      width: 1px;
      top: 0px;
      bottom: -1px;
      right: -1px;
    }
  }

  &-filter {
    position: absolute;
    bottom: 0;
    direction: var(--lgDirection);
    display: flex;
    align-items: center;
    justify-content: center;
    // color: var(--lgHeaderTextColor);
    padding: 0 4px;
  }
}
