.lg-header {
  &-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;

    &-inner {
      position: sticky;
      top: 0;
      z-index: 1;
      pointer-events: auto;
    }
  }

  &-cell {
    position: absolute;
    display: flex;
    align-items: center;
    background: var(--lgHeaderCellBg, var(--lgCellOddBg, var(--lgBg)));
    padding: 6px var(--lgCellHPadding);
    color: var(--lgHeaderTextColor);

    &[role='button'] {
      cursor: pointer;
    }

    &[data-reordering='true'] * {
      pointer-events: none;
    }

    &[data-moving-col='true'] {
      background: var(--lgColReorderHeaderBgColor, var(--lgColReorderBgColor));
    }

    &[data-outline='true'] {
      outline: 1px solid var(--lgHeaderBorderColor, var(--lgBorderColor));
    }

    &[data-border='true'] {
      &::before,
      &::after {
        content: '';
        display: flex;
        width: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        background: var(--lgHeaderBorderColor, var(--lgBorderColor));
      }
      &::before {
        left: -1px;
      }
      &::after {
        right: -1px;
      }
    }
  }
  &-cell-inner {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    overflow: hidden;
  }
  &-cell-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-sort-indicator {
    flex-shrink: 0;
    pointer-events: none;
    width: 12px;
    height: 12px;
    color: var(--lgHeaderTextColor);
  }

  &-grip-resizer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 6px;
    cursor: col-resize;
    transition: 120ms background;

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 16px;
      background: var(--lgHeaderBorderColor);
    }
  }

  &-filters {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--lgFilterCellBg, var(--lgBg));
    border-bottom: 1px solid var(--lgHeaderBorderColor, var(--lgBorderColor));

    &-v-borders {
      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        background: var(--lgBorderColor);
      }
    }

    &-v-borders::before {
      width: 1px;
      top: 0px;
      bottom: -1px;
      left: -1px;
    }

    &-v-borders::after {
      width: 1px;
      top: 0px;
      bottom: -1px;
      right: -1px;
    }
  }

  &-filter {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // color: var(--lgHeaderTextColor);
    padding: 0 4px;
  }
}
