@import './themes/dark.scss';
@import './Grid.scss';
@import './Cell.scss';
@import './ColumnResizer.scss';

// Note: generic class that getScrollbarSize also uses
.lfg-scroll {
  overflow: auto;
  contain: strict;

  @media (pointer: fine) {
    // Only style on pointer devices as touch ones have scroll as a nice
    // overlay that's normally hidden.
    scrollbar-color: var(--lfgScrollThumb) var(--lfgScrollTrack);

    // Size
    &::-webkit-scrollbar {
      width: 14px;
      height: 14px;
    }

    // Track
    &::-webkit-scrollbar-track {
      background: var(--lfgScrollTrack);
    }
    &::-webkit-scrollbar-corner {
      background: var(--lfgScrollTrack);
    }

    // Handle
    &::-webkit-scrollbar-thumb {
      background: var(--lfgScrollThumb);
      border-radius: 8px;
      border: 3px solid var(--lfgScrollTrack);
    }

    // Handle on hover
    &::-webkit-scrollbar-thumb:hover {
      background: var(--lfgScrollThumbHover);
    }
  }
}
