.lfg[data-theme='lightfin-dark'] {
  --lfgBorderRadius: 4px;
  --lfgBg: rgb(0, 0, 0);
  --lfgCellBg: var(--lfgBg);
  --lfgEvenRowCellBg: rgb(18, 18, 18);
  --lfgHeaderCellBg: rgb(234, 205, 93);
  --lfgHeaderBorderColor: rgb(59, 55, 76);
  --lfgHeaderInnerBorderColor: rgb(59, 55, 76);
  --lfgHeaderTextColor: black;
  --lfgBorderColor: rgb(39, 39, 45);
  --lfgTextColor: white;
  --lfgScrollTrack: #111;
  --lfgScrollThumb: #3e3e3e;
  --lfgScrollThumbHover: #555;
  --lfgCellSelectedBg: rgb(38, 39, 60);
  --lfgCellStartCellBg: rgb(26, 26, 42);
  --lfgColResizeColor: rgb(44, 170, 255);
  --lfgColReorderBgColor: rgb(48, 63, 158);
}
