.lfg[data-theme='lightfin-dark'] {
  --lfgBg: rgb(12, 12, 18);
  --lfgCellBg: var(--lfgBg);
  --lfgHeaderCellBg: #171329;
  --lfgHeaderBorderColor: rgba(255, 255, 255);
  --lfgHeaderTextColor: white;
  --lfgBorderColor: rgba(255, 255, 255);
  --lfgTextColor: white;
  --lfgScrollTrack: var(--lfgBg);
  --lfgScrollThumb: rgb(71, 71, 79);
  --lfgScrollThumbHover: rgb(93, 93, 101);
  --lfgCellSelectedBg: #26273c;
  --lfgCellStartCellBg: #1a1a2a;
  --lfgColResizeColor: rgb(44, 170, 255);
}
