.popoverBtn {
  position: relative;

  &:hover .popover {
    display: block;
  }
}

.popover {
  display: none;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  background: var(--bg);
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  width: 140px;
  padding: 1em;
}
