.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  background: transparent;
  border: none;
  color: var(--textColor);
  padding: 2px;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em var(--lgCellHPadding);
  flex: 1;
  justify-content: flex-start;

  &:focus {
    outline: none;
    border-color: var(--outlineColor);
  }
}
